<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>GG Highlights{% block title %}{% endblock %}</title>
        {% include 'includes/front/css.html.twig' %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            
        </style>
    </head>
    <body>
        {% include 'includes/front/navbar.html.twig' %}
        <div class="content-page">
            <div class="uk-container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include 'includes/front/footer.html.twig' %}
        {% include 'includes/front/js.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
