<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GG Highlights{% block title %}{% endblock %}</title>
        {% include 'includes/front/css.html.twig' %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            
        </style>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4487840036300948",
            enable_page_level_ads: true
          });
        </script>
    </head>
    <body>
        {% include 'includes/front/navbar.html.twig' %}
        <div class="content-page">
            <div class="uk-container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include 'includes/front/footer.html.twig' %}
        {% include 'includes/front/js.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
