.footer{
    background-color: #bdbdbd;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.img-post{
    width: 66%;
}
txt-img-post{
    width: 50%;
}
@media only screen and (min-width: 600px) {
    .uk-navbar-nav>li>a {
        margin-top: 23px;
        color: #999;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    .img-v{
        margin-left: 23%;
    }
    
}
@media only screen and (max-width: 600px) {
.uk-container {
        direction: rtl;
      }
}