<div class="footer">
    <a href="" uk-icon="icon: facebook"></a>
    <a href="" uk-icon="icon: instagram"></a>
    <a href="" uk-icon="icon: pinterest"></a>
    <a href="" uk-icon="icon: twitter"></a>
</div>
