<div class="footer" style="background-color: #212121;">
    <a href="" uk-icon="icon: facebook" style="color: #FFF;"></a>
    <a href="" uk-icon="icon: instagram" style="color: #FFF;"></a>
    <a href="" uk-icon="icon: pinterest" style="color: #FFF;"></a>
    <a href="" uk-icon="icon: twitter" style="color: #FFF;"></a>
</div>
