<li class="uk-align-right">
    <a href="#" style="color:#FFF;">دوري الأبطال</a>
    <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for competition in competitions %}
                <li><a href="{{ path('competitions_show', {id:competition.id}) }}" class="text-overlay uk-text-right">
                        {{ competition.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</li>
<li class="uk-align-right">
    <a href="#" style="color:#FFF;">دوريات محلية</a>
    <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for competition in ligues %}
                <li><a href="{{ path('competitions_show', {id:competition.id}) }}" class="text-overlay uk-text-right">{{ competition.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</li>

