{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-child-width-1-1@m" uk-grid style="text-align: right;direction: rtl;">
    <h1>{{ level.title }}</h1>
    <hr>
    {{ level.content | raw }}
    </div>
{% endblock %}
