{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competion creation</h1>

    {{ form_start(form) }}
    <b>Titre</b>
    {{ form_widget(form.title, {'attr': {'class': 'uk-input', 'required': 'true'},}) }}<br><br>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-radio" id="confedration" type="radio" name="status" checked value="1"> Conféderation</label>
        <label><input class="uk-radio" id="ligue" type="radio" name="status" value="2"> Ligue</label>
    </div>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-radio" id="confedration" type="radio" name="region" checked value="ar"> Arabe</label>
        <label><input class="uk-radio" id="ligue" type="radio" name="region" value="eu"> Europe</label>
    </div>
    
    <div id="content" style="display: none;margin-bottom: 20px;">
        <div class="uk-child-width-1-2 uk-text-center" uk-grid>
            <div>
                <b>Journée</b>
                <textarea name="content" class="ckeditor"></textarea>
            </div>
            <div>
                <b>Classement</b>
                <textarea name="contentClassement" class="ckeditor"></textarea>
            </div>
        </div>
    </div>
        <input type="submit" value="Enregistrer" class="uk-button uk-button-primary"/>
        <a href="{{ path('admin_competitions_index') }}" class="uk-button uk-button-default">Liste des compétitions</a>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $('#ligue').change(function() {
            if($('#ligue').is(':checked')) { $('#content').show(); }
         });
         $('#confedration').change(function() {
            if($('#confedration').is(':checked')) { $('#content').hide(); }
         });
    </script>
{% endblock %}
